[submodule "include/scs"]
	path = include/scs
	url = git@github.com:SteveDiamond/scs.git
[submodule "scs"]
	branch = FAO
[submodule "include/pogs"]
	path = include/pogs
	url = git@github.com:foges/pogs.git
[submodule "pogs"]
	branch = cone
